@import url("http://www.w3schools.com/lib/w3.css");
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

section {
    width: 350px;
    float: left;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

body {
    background-color: white;
    font-family: Helvetica;
}

h2 {
    font-family: Helvetica;
}

h2.center {
    text-align: center;
}

h1.bigbluecen {
    padding: 30px;
    color: blue;
    font-size: 300%;
    font-family: Helvetica;
    text-align: center
}

img {
    width: 100%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}

table.lamp {
    width: 100%;
    border: 1px solid #d4d4d4;
}

table.lamp th,
td {
	background-color: white;
    padding: 10px;
}

table.lamp th {
    width: 40px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #f1f1f1;
}

th,
td {
    padding: 15px;
}

tr:hover {
    background-color: #e0ebeb;
}

th {
    background-color: green;
    color: white;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}

ul,
ol,
dl {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

div.cities {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

span.note {
    font-size: 120%;
    color: red;
}
.city {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
}

